db.sqlite3
venv
sqlite.db
dist

__pycache__/

!*media/.gitkeep
media/*
!HLove-master/*/migrations/__init__.py
HLove-master/*/migrations/*

static

.idea
idea
.DS_Store
.env.dev

*.egg-info/
.installed.cfg
*.egg

log/debug.log


build
doc
home.rst
make.bat
Makefile

doc-dev

*.log
.log

*.png
*.jpg
# Project exclude paths
/node_modules/